___

<div style="background: #1c0e33"> <img style="width:33%; margin:auto;padding:60px;" src='https://devf-website.s3.amazonaws.com/static/assets/img/devf-white.png' /></div>

____

# INTRODUCCIÓN A PYTHON

_"Talent is a pursued interest. In other words, anything that you are willing to practice, you can do."_ - Bob Ross

El siguiente notebook explica los conceptos a continuación:

* Tipos de datos
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Operadores comparativos
* Sentencias if, elif, else
* Ciclos for 
* Ciclos while
* range()
* Comprensión de listas
* funciones
* Expresiones lambda
* map y filter
* Métodos
____

## Tipos de datos

### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Asignación de variables

In [8]:
# no se pueden empezar con números o caracteres especiales
nombre_de_variable = 2

In [9]:
x = 2
y = 3

In [10]:
z = x + y

In [11]:
z

5

### Strings

In [12]:
'comillas simples'

'comillas simples'

In [13]:
"comillas dobles"

'comillas dobles'

In [14]:
"comillas 'dentro' de comillas"

"comillas 'dentro' de comillas"

### Printing

In [15]:
x = 'hola'

In [16]:
x

'hola'

In [17]:
print(x)

hola

In [18]:
num = 12
nombre = 'Sam'

In [19]:
print('Mi numero es: {uno}, y mi nombre es: {dos}'.format(uno=num,dos=nombre))

Mi numero es: 12, y mi nombre es: Sam

In [20]:
print('Mi numero es: {}, y mi nombre es: {}'.format(num,nombre))

Mi numero es: 12, y mi nombre es: Sam

### Listas

In [21]:
[1,2,3]

[1, 2, 3]

In [22]:
['hola',1,[1,2]]

['hola', 1, [1, 2]]

In [23]:
mi_lista = ['a','b','c']

In [24]:
mi_lista.append('d')

In [25]:
mi_lista

['a', 'b', 'c', 'd']

In [26]:
mi_lista[0]

'a'

In [27]:
mi_lista[1]

'b'

In [28]:
mi_lista[1:]

['b', 'c', 'd']

In [29]:
mi_lista[:1]

['a']

In [30]:
mi_lista[0] = 'Nuevo'

In [31]:
mi_lista

['Nuevo', 'b', 'c', 'd']

In [32]:
lista_anidada = [1,2,3,[4,5,['objetivo']]]

In [33]:
lista_anidada[3]

[4, 5, ['objetivo']]

In [34]:
lista_anidada[3][2]

['objetivo']

In [35]:
lista_anidada[3][2][0]

'objetivo'

### Diccionarios

In [36]:
d = {'llave1':'elemento1','llave2':'elemento2'}

In [37]:
d

{'llave1': 'elemento1', 'llave2': 'elemento2'}

In [38]:
d['llave1']

'elemento1'

### Booleans

In [39]:
True

True

In [40]:
False

False

### Tuples

In [41]:
t = (1,2,3)

In [42]:
t[0]

1

In [43]:
t[0] = 'NUEVO'

TypeError: 'tuple' object does not support item assignment

### Sets

In [44]:
{1,2,3}

{1, 2, 3}

In [45]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Operadores Comparativos

In [46]:
1 > 2

False

In [47]:
1 < 2

True

In [48]:
1 >= 1

True

In [49]:
1 <= 4

True

In [50]:
1 == 1

True

In [51]:
'hola' == 'adios'

False

## Logic Operators

In [52]:
(1 > 2) and (2 < 3)

False

In [53]:
(1 > 2) or (2 < 3)

True

In [54]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [55]:
if 1 < 2:
    print('si!')

si!

In [56]:
if 1 < 2:
    print('primero')
else:
    print('ultimo')

primero

In [57]:
if 1 > 2:
    print('primero')
else:
    print('ultimo')

ultimo

In [58]:
if 1 == 2:
    print('primero')
elif 3 == 3:
    print('segundo')
else:
    print('ultimo')

segundo

## Ciclos for

In [59]:
seq = [1,2,3,4,5]

In [60]:
for item in seq:
    print(item)

1
2
3
4
5

In [61]:
for item in seq:
    print('Hola')

Hola
Hola
Hola
Hola
Hola

## Ciclos while

In [62]:
i = 1
while i < 5:
    print('i es: {}'.format(i))
    i = i+1

i es: 1
i es: 2
i es: 3
i es: 4

## range()

In [63]:
range(5)

range(0, 5)

In [64]:
for i in range(5):
    print(i)

0
1
2
3
4

In [65]:
list(range(5))

[0, 1, 2, 3, 4]

## Comprensión de listas

In [66]:
x = [1,2,3,4]

In [67]:
salida = []
for item in x:
    salida.append(item**2)
print(salida)

[1, 4, 9, 16]

In [68]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [69]:
def my_func(param1='default'):
    """
    Lógica va dentro
    """
    print(param1)

In [70]:
my_func

In [71]:
my_func()

default

In [72]:
my_func('nuevo param')

nuevo param

In [73]:
my_func(param1='nuevo param')

nuevo param

In [74]:
def square(x):
    return x**2

In [75]:
output = square(2)

In [76]:
print(output)

4

## Expresiones lambda

In [77]:
def por2(var):
    return var*2

In [78]:
por2(2)

4

In [79]:
lambda var: var*2

## map y filter

In [80]:
seq = [1,2,3,4,5]

In [81]:
map(por2,seq)

In [82]:
list(map(por2,seq))

[2, 4, 6, 8, 10]

In [83]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [84]:
filter(lambda item: item%2 == 0,seq)

In [85]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [86]:
st = 'Hola, mi nombre es alejandro'

In [87]:
st.lower()

'hola, mi nombre es alejandro'

In [88]:
st.upper()

'HOLA, MI NOMBRE ES ALEJANDRO'

In [89]:
st.split()

['Hola,', 'mi', 'nombre', 'es', 'alejandro']

In [90]:
tweet = 'La mejor carne asada es de #Hermosillo'

In [91]:
tweet.split('#')

['La mejor carne asada es de ', 'Hermosillo']

In [92]:
tweet.split('#')[1]

'Hermosillo'

In [93]:
d

{'llave1': 'elemento1', 'llave2': 'elemento2'}

In [94]:
d.keys()

dict_keys(['llave1', 'llave2'])

In [95]:
d.items()

dict_items([('llave1', 'elemento1'), ('llave2', 'elemento2')])

In [96]:
lst = [1,2,3]

In [97]:
lst.pop()

3

In [98]:
lst

[1, 2]

In [99]:
'x' in [1,2,3]

False

In [100]:
'x' in ['x','y','z']

True

# ¡Excelente trabajo!