___

<img src='../devf-logo.jpg' />

# Pandas

In [1]:
import numpy as np
import pandas as pd

# Series

### Creando una Serie

Puedes convertir listas, arreglos de numpy o diccionarios a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

**Usando listas**

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**Arreglos de Numpy**

In [6]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

**Dictionarios**

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Datos en Series

Una Serie de pandas puede contener una variedad amplia de tipos de objetos.

In [9]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [10]:
# también se pueden almacenar funciones.
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Usando Índices

In [11]:
ser1 = pd.Series([1,2,3,4],index = ['EU', 'Alemania','Rusia', 'China'])

In [12]:
ser1

EU          1
Alemania    2
Rusia       3
China       4
dtype: int64

In [13]:
ser2 = pd.Series([1,2,5,4],index = ['EU', 'Alemania','Italia', 'China'])

In [14]:
ser2

EU          1
Alemania    2
Italia      5
China       4
dtype: int64

In [15]:
ser1['EU']

1

In [16]:
ser1 + ser2

Alemania    4.0
China       8.0
EU          2.0
Italia      NaN
Rusia       NaN
dtype: float64

# ¡Excelente trabajo!