___

<img src='../devf-logo.jpg' />

# Pandas

In [1]:
import pandas as pd
import numpy as np

# DataFrames

In [2]:
from numpy.random import randn
np.random.seed(101)

In [38]:
df = pd.DataFrame(data=randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [20]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

## Selección e Indexación

In [67]:
df[['W']]

               W
States
CA      0.386030
NY      0.681209
WY     -1.005187
OR     -1.382920
CO      0.992573

In [35]:
# Podemos escoger varias columnas
df2 = df.copy()
df2

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [64]:
df['W','Z']

KeyError: ('W', 'Z')

In [25]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [26]:
df2

          W         Z
A  0.302665 -1.159119
B -0.134841  0.184502
C  0.807706  0.329646
D -0.497104  0.484752
E -0.116773  1.996652

In [36]:
df.drop('B',inplace=True)
df

          W         X         Y         Z
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [37]:
df2

          W         X         Y         Z
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Las columnas de los DataFrames son series

In [7]:
type(df['W'])

pandas.core.series.Series

**Creando una nueva columna:**

In [6]:
df['new'] = df['W'] + df['Y']

In [14]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

**Eliminando columnas**

In [13]:
df.drop('A')

          W         X         Y         Z       new
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [15]:
# El cambio no es definitivo a menos que se indique
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [16]:
df.drop('A',inplace=True)

In [17]:
df

          W         X         Y         Z       new
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

También podemos eliminar filas:

In [18]:
df.drop('E')

          W         X         Y         Z       new
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542

**Seleccionando filas**

In [39]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [40]:
df.loc['A']

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

O podemos seleccionarlas con la posición del índice.

In [41]:
df.iloc[2]

W   -1.005187
X   -0.741790
Y    0.187125
Z   -0.732845
Name: C, dtype: float64

In [42]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

**Podemos seleccionar filas y columnas**

In [43]:
df.loc['B','Y']

-0.031160481493099617

In [18]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

### Selección condicional

In [44]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [45]:
df>0

       W      X      Y      Z
A   True   True  False   True
B   True   True  False   True
C  False  False   True  False
D  False   True   True  False
E   True   True  False   True

In [21]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [22]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
df[df['W']>0][['W','Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
E  0.992573  1.292765

In [24]:
df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

Para dos condiciones podemos usar | y & con paréntesis:

In [52]:
df[(df['W']>0) | (df['Z'] > 1)]

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
E  0.992573  1.192241 -1.046780  1.292765

## Más detalles de Indexación

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [55]:
# Reset to default 0,1...n index
df.reset_index(inplace=True)

In [56]:
df

  index         W         X         Y         Z
0     A  0.386030  2.084019 -0.376519  0.230336
1     B  0.681209  1.035125 -0.031160  1.939932
2     C -1.005187 -0.741790  0.187125 -0.732845
3     D -1.382920  1.482495  0.961458 -2.141212
4     E  0.992573  1.192241 -1.046780  1.292765

In [57]:
newind = 'CA NY WY OR CO'.split()

In [58]:
df['States'] = newind

In [59]:
df

  index         W         X         Y         Z States
0     A  0.386030  2.084019 -0.376519  0.230336     CA
1     B  0.681209  1.035125 -0.031160  1.939932     NY
2     C -1.005187 -0.741790  0.187125 -0.732845     WY
3     D -1.382920  1.482495  0.961458 -2.141212     OR
4     E  0.992573  1.192241 -1.046780  1.292765     CO

In [60]:
df.set_index('States')

       index         W         X         Y         Z
States
CA         A  0.386030  2.084019 -0.376519  0.230336
NY         B  0.681209  1.035125 -0.031160  1.939932
WY         C -1.005187 -0.741790  0.187125 -0.732845
OR         D -1.382920  1.482495  0.961458 -2.141212
CO         E  0.992573  1.192241 -1.046780  1.292765

In [61]:
df

  index         W         X         Y         Z States
0     A  0.386030  2.084019 -0.376519  0.230336     CA
1     B  0.681209  1.035125 -0.031160  1.939932     NY
2     C -1.005187 -0.741790  0.187125 -0.732845     WY
3     D -1.382920  1.482495  0.961458 -2.141212     OR
4     E  0.992573  1.192241 -1.046780  1.292765     CO

In [62]:
df.set_index('States',inplace=True)

In [63]:
df

       index         W         X         Y         Z
States
CA         A  0.386030  2.084019 -0.376519  0.230336
NY         B  0.681209  1.035125 -0.031160  1.939932
WY         C -1.005187 -0.741790  0.187125 -0.732845
OR         D -1.382920  1.482495  0.961458 -2.141212
CO         E  0.992573  1.192241 -1.046780  1.292765

## Múltiples Índices y Jerarquía de Índices

In [35]:
# Niveles de índices
exterior = ['G1','G1','G1','G2','G2','G2']
interior = [1,2,3,1,2,3]
jerar_ind = list(zip(exterior,interior))
jerar_ind = pd.MultiIndex.from_tuples(jerar_ind)

In [36]:
jerar_ind

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [37]:
df = pd.DataFrame(np.random.randn(6,2),index=jerar_ind,columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [38]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [39]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [40]:
df.index.names

FrozenList([None, None])

In [41]:
df.index.names = ['Group','Num']

In [42]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [43]:
df.xs('G1')

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [44]:
df.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [45]:
df.xs(1,level='Num')

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

# ¡Excelente trabajo!