In [1]:
import pandas as pd
import numpy as np

# DataFrames

In [13]:
np.random.seed(101)

In [14]:
arr = np.random.randn(5,4)
arr

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [8]:
labels = ['a','b','c','d','e']
labels

['a', 'b', 'c', 'd', 'e']

In [9]:
cols = 'W X Y Z'.split()

In [10]:
cols

['W', 'X', 'Y', 'Z']

In [15]:
df = pd.DataFrame(data=arr, index=labels, columns=cols)

In [16]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [17]:
df['W']

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: W, dtype: float64

In [18]:
df[['W','Z']]

          W         Z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [19]:
type(df['W'])

pandas.core.series.Series

In [23]:
df['NUEVA'] = df['W']*2

In [24]:
df

          W         X         Y         Z     NUEVA
a  2.706850  0.628133  0.907969  0.503826  5.413700
b  0.651118 -0.319318 -0.848077  0.605965  1.302236
c -2.018168  0.740122  0.528813 -0.589001 -4.036336
d  0.188695 -0.758872 -0.933237  0.955057  0.377391
e  0.190794  1.978757  2.605967  0.683509  0.381589

In [25]:
df.drop('NUEVA', axis=1)

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [26]:
df

          W         X         Y         Z     NUEVA
a  2.706850  0.628133  0.907969  0.503826  5.413700
b  0.651118 -0.319318 -0.848077  0.605965  1.302236
c -2.018168  0.740122  0.528813 -0.589001 -4.036336
d  0.188695 -0.758872 -0.933237  0.955057  0.377391
e  0.190794  1.978757  2.605967  0.683509  0.381589

In [27]:
df.drop('NUEVA',axis=1, inplace=True)

In [28]:
df

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [29]:
df2 = df

In [30]:
df2

          W         X         Y         Z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [31]:
df.drop('Z',axis=1,inplace=True)

In [32]:
df

          W         X         Y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237
e  0.190794  1.978757  2.605967

In [33]:
df2

          W         X         Y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237
e  0.190794  1.978757  2.605967

In [34]:
df2 = df.copy()

In [35]:
df2

          W         X         Y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237
e  0.190794  1.978757  2.605967

In [38]:
df.drop('W',axis=1,inplace=True)
df

          X         Y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [42]:
df

          X         Y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [43]:
df.loc['a']

X    0.628133
Y    0.907969
Name: a, dtype: float64

In [44]:
df.iloc[4]

X    1.978757
Y    2.605967
Name: e, dtype: float64

In [45]:
df.loc['e','X']

1.9787573241128278

In [46]:
df2

          W         X         Y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237
e  0.190794  1.978757  2.605967

In [48]:
df2.loc[['a','b'],['W','X']]

          W         X
a  2.706850  0.628133
b  0.651118 -0.319318

In [49]:
df

          X         Y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [50]:
df > 0

       X      Y
a   True   True
b  False  False
c   True   True
d  False  False
e   True   True

In [51]:
df[df>0]

          X         Y
a  0.628133  0.907969
b       NaN       NaN
c  0.740122  0.528813
d       NaN       NaN
e  1.978757  2.605967

In [52]:
df

          X         Y
a  0.628133  0.907969
b -0.319318 -0.848077
c  0.740122  0.528813
d -0.758872 -0.933237
e  1.978757  2.605967

In [55]:
df[df['X']>0]['Y']

a    0.907969
c    0.528813
e    2.605967
Name: Y, dtype: float64

In [57]:
df[(df['X']>0) | (df['Y']>1)]

          X         Y
a  0.628133  0.907969
c  0.740122  0.528813
e  1.978757  2.605967

In [58]:
df2

          W         X         Y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237
e  0.190794  1.978757  2.605967

In [62]:
df2.reset_index(inplace=True)

In [63]:
df2

  index         W         X         Y
0     a  2.706850  0.628133  0.907969
1     b  0.651118 -0.319318 -0.848077
2     c -2.018168  0.740122  0.528813
3     d  0.188695 -0.758872 -0.933237
4     e  0.190794  1.978757  2.605967

In [64]:
df2['index']

0    a
1    b
2    c
3    d
4    e
Name: index, dtype: object

In [65]:
df2.drop('index', axis=1, inplace=True)
df2

          W         X         Y
0  2.706850  0.628133  0.907969
1  0.651118 -0.319318 -0.848077
2 -2.018168  0.740122  0.528813
3  0.188695 -0.758872 -0.933237
4  0.190794  1.978757  2.605967

In [66]:
newind = ['H','G','F','D','L']

In [67]:
df2['newind'] = newind

In [68]:
df2

          W         X         Y newind
0  2.706850  0.628133  0.907969      H
1  0.651118 -0.319318 -0.848077      G
2 -2.018168  0.740122  0.528813      F
3  0.188695 -0.758872 -0.933237      D
4  0.190794  1.978757  2.605967      L

In [71]:
df2.set_index('newind', inplace=True)

In [72]:
df2

               W         X         Y
newind
H       2.706850  0.628133  0.907969
G       0.651118 -0.319318 -0.848077
F      -2.018168  0.740122  0.528813
D       0.188695 -0.758872 -0.933237
L       0.190794  1.978757  2.605967