# Pandas

In [1]:
import numpy as np
import pandas as pd

In [3]:
labels=['a','b','c']
lista=[10,20,30]
arr = np.array([10,20,30])
d ={'a':10,'b':20,'c':30}

usando lista

In [4]:
pd.Series(data=lista)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(lista, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [10]:
ser = pd.Series(data=[1,2,3,4], index=['EU','Alemania','Italia','China'])
ser

EU          1
Alemania    2
Italia      3
China       4
dtype: int64

In [11]:
ser2 = pd.Series(data=[1,2,5,4], index=['EU','Alemania','Japon','China'])
ser2

EU          1
Alemania    2
Japon       5
China       4
dtype: int64

In [13]:
ser['EU']

1

In [14]:
ser + ser2

Alemania    4.0
China       8.0
EU          2.0
Italia      NaN
Japon       NaN
dtype: float64